/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700&display=swap');

/* regular and common styles */
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F3F1FF;
    margin: 0px auto;
}
.container{
    
}
/* menu bar  */
.full-menu-bar{
    background-color:#562EFF ;
}
.menu-bar{
    margin: auto;
    width: 870px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: white;
}
.left-menu{
    font-size: 40px;
    display: flex;
    align-items: center;
    font-weight: 400;
    padding-left: 10px;
}
.left-menu a{
    color: white;
    font-size: 60px;
    margin-right: 10px;
}
.right-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-menu ul li {
    list-style: none;
}
.right-menu ul li img{
    width: 54px;
    height: 54px;
}
.right-menu li a{
    text-decoration: none;
    color: white;
    padding: 0px 20px;
}

/* ------------Top Players Section--------------- */

.top-players{
    width: 870px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    padding: 30px 30px;
    border-radius: 10px;
}
.top-players h2{
    color: #5E38FF;
    padding-bottom: 20px;
    font-weight: 600;
}
.top-player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}
.player{
    display: flex;
    justify-content:stretch;
    align-items: center;
}
.player img{
    width: 52px;
    height: 52px;
}
.player h3{
    font-weight: 600;
    padding-left: 20px;
    font-size: 20px;
}













@media only screen and (max-width:688px){
    .menu-bar{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
    .right-menu ul{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        padding-inline-start: 0px;
    }
}

@media  only screen and (min-width:689px) and (max-width:992px){
    .menu-bar{
        width: 100%;
    }
}